h3 {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color: darkblue;
}
small {
    background-color: aquamarine;
    font-weight: 900;
}
ul {
    border: 5px dotted chocolate;
    border-radius: 10px;
    width: 30%;
}
img {
    width: 50%;
}
p {
    border: 10px solid navy;
    background-color: darkturquoise;
    border-radius: 20px;
    padding: 20px;
    margin: 40px 30px;
}
.naruto {
    border: 5px solid orange;
    background-color: blue;
    border-radius: 30px;
    padding: 50px;
}
.uzumaki {
    border: 5px solid grey;
    width: 50%;
}